
.container {
    width: 80%;
    padding-top: 0px;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax(300px,1fr));
}
.container .row100 .col {
    position: relative;
    width: 100%;
    margin: 30px 0 10px;
    transition: 0.5s;

}
.container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color:#d1c1bb;
}
.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    z-index: 1;
    color:white;
}
.container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .inputBox input:focus + .text, 
.container .row100 .inputBox input:valid + .text {
    top: -35px;
}
.container .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background:#d1c1bb;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .inputBox input:focus ~ .line, 
.container .row100 .inputBox input:valid ~ .line {
    height: 100%;
}
.container .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
}
.container .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}
.container .row100 .inputBox textarea:focus + .text, 
.container .row100 .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}
.container .row100 .inputBox textarea:focus ~ .line, 
.container .row100 .inputBox textarea:valid + .line {
    height: 100%;
}

/*button*/
input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background:#d1c1bb;
    color: #ffffff;
    font-size: 18px;
    border-radius: 10px;
}
input:hover {
    background-color: #ffffff;
    color:#d1c1bb;
}
/*------------------------------------------------------------------------CONTACT FORM ENDS*/

/*--------------------------------------------------------------------SOCIAL MEDIA AND CONTACT SECTION STARTS*/

h2 {
    padding-top: 100px;
    place-items: center;
    width: 100%;
    color:#d1c1bb;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;

}

@import url('https://kit.fontawesome.com/a076d05399.js');

html, body {
    display: grid;
}


.wrapper h2 {
    width: 100%;
    font-size: 36px;
}
.wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 30px 5px;
    overflow: hidden;
    background: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.wrapper .button:hover {
    width: 170px;
}
.wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon {
    background: #d1c1bb;
}
.wrapper .button:nth-child(2):hover .icon {
    background: #d1c1bb;
}
.wrapper .button:nth-child(3):hover .icon {
    background: #d1c1bb;
}
.wrapper .button:nth-last-child(1):hover .icon {
    background: #d1c1bb;
}
.wrapper .button:nth-last-child(2):hover .icon {
    background: #d1c1bb;
}


.wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
}
.wrapper .button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-right: 10px;
}
.wrapper .button:nth-child(1):hover span {
    color: #d1c1bb;
}
.wrapper .button:nth-child(2):hover span {
    color: #d1c1bb;
}
.wrapper .button:nth-child(3):hover span {
    color: #d1c1bb;
}
.wrapper .button:nth-child(4):hover span {
    color: #d1c1bb;
}
.wrapper .button:nth-last-child(1):hover span {
    color: #d1c1bb;
}
